<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277550183303-1m51jjj4p41es8v9bomu1ksc7mmm1ks5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277550183303-1m51jjj4p41es8v9bomu1ksc7mmm1ks5</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ajJXTw9hfTCniQqmT1F6ZltpJysWCjk</string>
	<key>GCM_SENDER_ID</key>
	<string>277550183303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-60ac1</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-60ac1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277550183303:ios:ba182465f1efdfc6d45922</string>
</dict>
</plist>